* {
  box-sizing: border-box;
}

a {
  text-decoration: unset;
  color: unset;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Inter";
  background-color: #fff7ed;
}

body::-webkit-scrollbar {
  display: none;
}

body {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.app-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
}

a:not(.site-logo-link):hover,
a.active-link {
  font-weight: bold;
  text-decoration: underline;
  color: #161616;
}

header {
  display: flex;
  align-items: center;
  height: 110px;
  padding-block: 10px;
}

header .site-logo {
  font-size: 1.584rem;
  font-weight: 900;
  color: black;
  margin-right: auto;
}

header > nav {
  font-size: 1rem;
  font-weight: 600;
  color: #4d4d4d;
}

header a {
  padding: 5px 20px;
}

footer {
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  height: 74px;
  margin-top: auto;
  background-color: #252525;
  color: #aaaaaa;
  font-size: 0.875rem;
  font-weight: 500;
}

.link-button {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  border: none;
  padding: 0.75rem 1.375rem;
  color: initial;
  font-weight: 700;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.1s ease-in-out;
}

.link-button:hover {
  transform: translate(1px, 1px);
}

/*** HOME PAGE ***/
.home-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background:
    linear-gradient(rgba(0, 0, 0, 0.46), rgba(0, 0, 0, 0.46)),
    url("./assets/images/home-hero.png") center/cover;
  min-height: 350px;
  color: white;
  padding: 45px 23px;
  text-align: left;
}

.home-container > h1 {
  font-size: 2.25rem;
  font-weight: 800;
  line-height: 42px;
}

.home-container p {
  line-height: 24px;
  font-weight: 500;
}

.home-container a {
  display: inline-block;
  text-decoration: none;
  background-color: #ff8c38;
  border: none;
  width: 500px;
  margin-top: 27px;
  padding-block: 0.75rem;
  color: white;
  font-weight: 700;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.1s ease-in-out;
}

.home-container a:hover {
  transform: translate(1px, 1px);
}

/*** ABOUT PAGE ***/
.about-hero-image {
  width: 100%;
}

.about-content {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin: 20px 60px;
  max-width: 1000px;
}

.about-content p {
  font-weight: 500;
  margin-bottom: 10px;
}

.about-content span {
  display: block;
}

.about-cta {
  background-color: #ffcc8d;
  text-align: left;
  margin: 20px 60px;
  padding: 32px 38px;
  border-radius: 5px;
}

.about-cta h2 {
  margin: 0;
  padding-bottom: 20px;
}

.about-cta .link-button {
  background-color: black;
  color: white;
  border-radius: 10px;
}

/*** VANS PAGE ***/
.van-list-container {
  padding: 10px 20px;
  margin-bottom: 20px;
}

.van-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  gap: 34px;
  margin-top: 57px;
}

.van-container {
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.van-container img {
  max-width: 100%;
  border-radius: 5px;
}

.van-info {
  padding: 10px 20px;
}

.van-info span {
  font-size: 0.875rem;
  font-weight: 500;
}

.van-type {
  height: 34px;
  max-width: 150px;
  padding: 6px 26px;
  font-weight: 500;
  text-align: center;
  border: none;
  border-radius: 5px;
  background-color: #ffead0;
  color: #4d4d4d;
}

.van-type:hover {
  color: #ffead0;
}

.van-type:focus {
  outline: none;
}

.van-type.selected {
  color: #ffead0;
}

.van-type.simple:hover,
.van-type.simple.selected {
  background-color: #e17654;
}

.van-type.rugged:hover,
.van-type.rugged.selected {
  background-color: #115e59;
}

.van-type.luxury:hover,
.van-type.luxury.selected {
  background-color: #161616;
}

/*** VanDetail PAGE ***/
.van-detail-container {
  padding: 10px 20px;
  margin-bottom: 20px;
}

.van-detail img {
  max-width: 100%;
  border-radius: 5px;
}

.van-detail .link-button {
  background-color: #ff8c38;
  color: white;
  font-size: 1.125rem;
  width: 100%;
  max-width: 350px;
}

.loading-message {
  margin-top: 50px;
  text-align: center;
}

.host-nav {
  display: flex;
}

.host-nav a {
  text-decoration: none;
  color: #4d4d4d;
  font-weight: 500;
  padding: 5px 20px;
}

.host-nav a.active-link {
  font-weight: bold;
  text-decoration: underline;
  color: #161616;
}
